* {
  margin: 0px;
  padding: 0px;
}

.headerHeading {
  color: white;
  text-align: center;
  width: 100%;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid black;
}

.register-form {
  border: 1px solid black;
  padding: 30px;
  width: 30%;
}

.notLoggedIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20%;
}
